:root {
    --primary-color: #ff5722;
    --secondary-color: #357abd;
    --background-color: #151515; /* Черный фон */
    --container-background-color: #1c1c1c; /* Темно-серый матовый контейнер */
    --text-color: #fff; /* Белый текст */
    --border-color: #333; /* Темная граница */
    --hover-color: #262626; /* Цвет при наведении */
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Тень */
    --radius: 14px; /* Скругление углов */
    --accent-color: #ff69b4; /* Светло-розовый для аккордов */
}

/* Базовые стили */
body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    background: var(--container-background-color);
    margin-top: 20px;
    position: relative;
}

/* Главный заголовок */
h1 {
    text-align: center;
    color: #fff; /* Розовый цвет для акцента */
    margin-bottom: 15px;
    font-size: 2.4rem;
    
    
    text-transform: uppercase; /* Все буквы в верхнем регистре */
    letter-spacing: 2px; /* Пространство между буквами */
    animation: glow 3s infinite alternate; /* Мягкое сияние */
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #ff69b4;
    }
    to {
        text-shadow: 0 0 20px #ff69b4;
    }
}

/* Подзаголовок */
h2 {
    text-align: center;
    color: #fff; /* Белый цвет */
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold; /* Полужирный шрифт */
    letter-spacing: 1px; /* Небольшое пространство между буквами */
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3); /* Легкая тень для объема */
}


/* Панель управления */
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

select, input, button {
    padding: 14px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    transition: all 0.3s ease;
    outline: none;
    appearance: none;
    background: #222;
    color: #fff;
}

.font-size-controls {
    display: flex;
    gap: 8px;
    margin-top: 0;
}

.font-size-controls button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
}

#key-select {
    padding: 8px 5px;
    border: 3px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 12px;
    width: 15%;
    text-align: center;
}

#sheet-select, #song-select, #search-input {
    padding: 5px 15px;
    border: 3px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
    color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    padding: 12px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Кнопки управления */
.control-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 15px;
}

.control-buttons button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.controls-footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по горизонтали */
    gap: 15px; /* Отступ между элементами */
    margin-top: 20px; /* Отступ сверху */
    padding: 10px;
    text-align: center; /* Текст внутри элементов также центрируется */
}

.bpm-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

#bpm-display {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    min-width: 50px;
    text-align: center;
}

#bpm-display:focus {
    outline: none;
    background-color: #f0f8ff;
}

#metronome-button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: var(--radius);
    background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

#time-signature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px; /* Увеличенные отступы для лучшей видимости */
    font-size: 1rem; /* Размер шрифта адаптирован под мобильные устройства */
    border: 2px solid var(--border-color); /* Утолщенные границы для акцента */
    border-radius: var(--radius);
    
    color: var(--text-color);
    box-shadow: var(--shadow); /* Добавляем тень для объемного эффекта */
    transition: all 0.3s ease; /* Плавные переходы */
    min-width: 60px; /* Минимальная ширина для удобства нажатия */
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

#time-signature:hover {
    transform: translateY(-2px); /* Легкий подъем при наведении */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Усиленная тень */
    background-color: var(--hover-color); /* Изменение фона */
}

#time-signature:active {
    transform: translateY(0); /* Возвращаем на место при нажатии */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Уменьшаем тень */
}



/* Текст песни */
#song-content {
    background: var(--container-background-color);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

#song-content pre {
    font-family: 'Tahoma', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    line-height: 1.2;
    font-size: clamp(6px, 2vw, 20px);
    color: var(--text-color);
    margin: 0;
    max-width: 100%;
}



/* Базовый стиль для аккордов */
.chord {
    font-weight: bold;
    color: var(--accent-color); /* Светло-розовый */
    margin-right: 4px;
}

/* Адаптивность */
@media (max-width: 768px) {
    #key-select {
        width: 30%;
        font-size: 14px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    select, input, button {
        font-size: 16px;
        padding: 12px;
    }
    #key-select {
        width: 15%;
        font-size: 16px;
        margin-right: 10px;
    }
    #song-content {
        padding: 15px;
    }
    #song-content pre {
        font-size: 8px;
        line-height: 1.0;
    }
}

/* Стиль для выдвижной панели "Группа" */
#favorites-panel {
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    background-color: #1c1c1c; /* Темно-серый матовый */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

#favorites-panel.open {
    transform: translateX(100%);
}

.toggle-favorites {
    position: fixed;
    background: var(--primary-color);
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.toggle-favorites:hover {
    transform: scale(1.05);
}

.list-section {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.list-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.favorites-list, .shared-songs-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    background: var(--hover-color);
}

.favorite-item, .shared-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    border-radius: var(--radius);
    transition: background 0.3s ease;
}

.favorite-item:last-child, .shared-item:last-child {
    border-bottom: none;
}

.favorite-item:hover, .shared-item:hover {
    background-color: #262626; /* Темный серый при наведении */
}

.song-name {
    flex-grow: 1;
    margin-right: 10px;
}

.remove-button, .delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.remove-btn:hover, .delete-button:hover {
    text-decoration: underline;
}

/* Стиль для кнопки Holychords */
#holychords-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius);
    transition: all 0.3s ease;
}

#holychords-button:hover {
    background-color: var(--accent-color);
    color: #fff;
}


/* Стиль для разделения текста на две колонки */
#song-content.split-columns pre {
    column-count: 2;
    column-gap: 13px;
    line-height: 1.2;
    position: relative;
}

#song-content.split-columns pre::after {
    content: "";
    display: table;
    clear: both;
}

#song-content.split-columns pre::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ccc;
    z-index: 1;
}
